p {
  font-size: 10px;
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  background: #161619;
  border-radius: 0 0 10px 10px;
}

#selfie {
  width: 317px;
  border-radius: 10px 10px 0px 0px;
}

#linkedInBtn {
  color: white;
  background: #5093E2;
}

.heroInfo, footer, .aboutContainer {
  padding: 0px 35px;
  text-align: center;
}

.heroInfo > h1 {
  font-size: 25px;
  font-weight: 600;
}

.heroInfo > h3 {
  font-size: 12px;
  font-weight: 400;
  margin-top: -10px;
  color: #F3BF99;
  margin-bottom: -5px;
}

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactEmail {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  border: none;
  font-family: inherit;
  margin: 10px 0;
  font-weight: 500;
  font-size: 14px
}

.aboutContainer {
  text-align: left;
  margin-bottom: 20px;
}

.infoContainer > h2 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: -5px;
}

.socials {
  width: 30px;
  margin: 15px;
}